<section id="illus" class="illustrations">
  <img src="../../assets/images/wyeth.jpg" alt="N.C. Weeyth" title="N.C. Weeyth" class="round">
  <h3>Illustrations by N.C. Weeyth</h3>
  <ul class="grid">
    <li class="small" style="background-image: url(../../assets/images/one-last-tremendous-cut.jpg)" alt=""></li>
    <li class="large" style="background-image: url(../../assets/images/cover-illustration.jpg)" alt=""></li>
    <li class="small" style="background-image: url(../../assets/images/the-boarders-swarmed-over-the-fence-like-monkeys.jpg)" alt=""></li>
    <li class="large" style="background-image: url(../../assets/images/deadly-wrestle.jpg)" alt=""></li>
  </ul>
  <hr>
</section>
