<section id="about" class="about">
  <img src="../../assets/images/stevenson.jpg" alt="Robert Louis Stevenson" title="Robert Louis Stevenson" class="round">

  <h3>About Treasure Island</h3>
  <p>An adventure novel by Scottish author Robert Louis Stevenson, <i>Treasure Island</i> tells a story of &ldquo;buccaneers and buried gold&rdquo;. Children's magazine Young Folks originally serialized the tale between 1881 through 1882 under the title Treasure Island, or The Mutiny of the Hispaniola, credited to the pseudonym &ldquo;Captain George North&rdquo;.</p>
  <p><i>Treasure Island</i> is traditionally considered a coming-of-age story, and is noted for its atmosphere, characters, and action. It is also noted as a wry commentary on the ambiguity of morality&mdash;as seen in Long John Silver &mdash;unusual for children's literature. It is one of the most frequently dramatized of all novels. Its influence is enormous on popular perceptions of pirates, including such elements as treasure maps marked with an &ldquo;X&rdquo;, schooners, the Black Spot, tropical islands, and one-legged seamen bearing parrots on their shoulders.</p>
  <hr>
  <h3>Characters</h3>
  <ul class="grid">
    <li>
      <img src="../../assets/images/jim-hawkins.jpg" title="Jim Hawkins" alt="Jim Hawkins" class="round">
      <h4>Jim Hawkins</h4>
      <p>Jim is the narrator of the story and is around years of age. Though goodhearted and competent, he uncovers the plan for a pirate mutiny making rash decisions but also displaying courage. </p>
    </li>
    <li>
      <img src="../../assets/images/long-john.jpg" title="Long John Silver" alt="Long John Silver" class="round">
      <h4>&ldquo;Long John&rdquo; Silver</h4>
      <p>A tavern-keeper in Bristol; the ship&rsquo;s cook; and another pirate that has a wooden leg and a pet parrot called &ldquo;Captain Flint&rdquo; on his shoulder. Silver haunts Jim's memories after the adventure.</p>
    </li>
    <li>
      <img src="../../assets/images/ben-gunn.jpg" title="Ben Gunn" alt="Ben Gunn" class="round">
      <h4>Ben Gunn</h4>
      <p>Ben Gunn The &ldquo;man of the island,&rdquo; and a reformed pirate. He has been marooned on Treasure Island for three years.</p>
    </li>
  </ul>
  <hr>
</section>


